@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&family=Space+Mono:ital@1&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}

html {
    background-color: rgb(26, 25, 25);
}

header {
    height: 60vh;
}

.design {
    background-image: url('./Images/background-image.jpg');
    background-size: cover;
    background-position: center;
    height: 670px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

.in_img img:nth-child(1) {
    position: absolute;
    width: 10rem;
    left: 7.5rem;
    top: 2rem;
}

.in_img img:nth-child(2) {
    position: absolute;
    width: 6rem;
    left: 9.5rem;
    top: 4rem;
}

.in_img img:nth-child(3) {
    position: absolute;
    width: 9rem;
    left: 8rem;
    top: 7rem;
}

.btn {
    position: absolute;
    top: 10%;
    left: 0;
    padding: 7px;
    background-color: rgb(94, 17, 94);
    border-radius: 5px;
    color: #999797;
}

i #icon {
    position: absolute;
    top: 10%;
    right: 0;
    /* padding: 7px; */
    /* background-color: rgb(94, 17, 94); */
    /* border-radius: 5px; */
    /* color: #999797; */
}

p {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
}

.text__intro {
    position: absolute;
    top: 30%;
    /* font-family: ; */
}

.intro {
    display: block;
    margin-bottom: 4px;
}

.capitalize {
    text-transform: uppercase;
}

/* p .intro .capitalize {} */



.second {
    /* background-image: url('./Images/background-image.jpg'); */
    background-color: rgb(26, 25, 25);
    background-size: cover;
    background-position: bottom;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    position: relative;
}

.design--end {
    position: absolute;
    top: 5%;
    left: 3px;
    color: #eae5e5;
    text-transform: uppercase;
    font-size: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    bottom: 0;
}

.ticket-container {
    /* background-color: #f7f7f7; */
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    font-size: 10px;
    background-color: rgb(97, 18, 97);
}

.ticket-container p {
    font-size: 12px;
}

.third {
    /* background-image: url('./Images/Richard_richie.jpg'); */
    background-color: rgb(26, 25, 25);
    background-size: cover;
    background-position: center;
    height: 670px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    position: relative;
}

.third--start {
    position: absolute;
    top: 5%;
    left: 10px;
    color: #eae5e5;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bolder;
}

.third-image {
    position: absolute;
    width: 95%;
    top: 15%;
    display: block;
}

.third--text {
    font-size: 12px;
    position: absolute;
    top: 50%;
}

.third--footer {
    position: absolute;
    bottom: 15px;
    left: 5px;
    text-decoration: none;
}

.fourth {
    background-image: url('./Images/Brisbane.jpg');
    background-size: cover;
    background-position: center;
    height: 670px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    position: relative;
}

.fourth--header {
    position: absolute;
    font-size: 22px;
    top: 15px;
    left: 5px;
    text-decoration: none;
}

.fourth--footer {
    position: absolute;
    bottom: 15px;
    left: 120px;
}

.fifth {
    background-color: rgb(250, 249, 249);
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    position: relative;
}

.fifth--text {
    position: absolute;
    font-size: 20px;
    font-weight: bolder;
    color: rgb(26, 25, 25);
    top: 50px;
}

.form-header {
    padding: 10px 50px;
    position: absolute;
    top: 60%;
    background-color: rgb(97, 18, 97);
}

.sixth {
    background-color: rgb(26, 25, 25);
    background-size: cover;
    background-position: center;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    position: relative;
}

.sixth--header {
    color: rgb(250, 249, 249);
    position: absolute;
    font-size: 20px;
    font-weight: bolder;
    top: 50px;
}

.sixth-image {
    position: absolute;
    width: 95%;
    top: 15%;
    display: block;
}

.seventh {
    background-color: rgb(26, 25, 25);
    background-size: cover;
    background-position: center;
    height: 670px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    position: relative;
}

.seventh--header {
    font-weight: bolder;
    position: absolute;
    left: 45%;
    top: 10px;
}

.seventh--text {
    font-size: 12px;
}

.a {
    font-size: 12px;
    position: absolute;
    top: 47px;
    display: block;
}

.b {
    font-size: 12px;
    position: absolute;
    top: 180px;
    display: block;
}

.c {
    font-size: 12px;
    position: absolute;
    top: 300px;
    display: block;
}

.d {
    font-size: 12px;
    position: absolute;
    top: 420px;
    display: block;
}

.e {
    font-size: 12px;
    position: absolute;
    top: 540px;
    display: block;
}

.eighth {
    background-color: rgb(26, 25, 25);
    background-size: cover;
    background-position: center;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    /* text-align: center; */
    position: relative;
}

.form-container {
    height: 80%;
    width: 75%;
    background-color: rgb(137, 133, 133);
}

.form-name {
    position: absolute;
    top: 25%;
}

.form-phone {
    position: absolute;
    top: 35%;
}

input {
    width: 270px;
    display: block;
    padding: 6px;
}

.eighth--form {
    background: linear-gradient(90deg, rgb(97, 18, 97) 0%, rgb(191, 51, 212) 100%);
}

.add-message-icon {
    top: 45%;
    position: absolute;
}

.eighth--form {
    position: absolute;
    top: 50%;
    color: #eae5e5;
}

.form-terms {
    position: absolute;
    bottom: 65px;
    font-size: 12px;
    padding-right: 40px;
    color: #fff;
}